h1 {
    color: red;
}
/*Tambahkan break point max-width:1000 px */
@media (max-width: 1000px){
    h1 {
        color:blue;
    }
}
/*tambahkan break point max-width:670px */
@media (max-width: 670px){
    h1 {
        color: green;
    }
}